.container{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: black;
}

.container p{
    font-size: 16px;
    padding: 10px 5px;
}

.container figure{
    display:  contents;
}

.main div, .noticias-secundarias div{
    display: flex;
    flex-direction: column;
    padding: 3px 0;
    margin: 3px 0 0 0;
}

.container h2, .container h3{
    padding-left: 5px;
}

.noticia-1, .noticia-2{
    border-bottom: solid 3px whitesmoke;
}

.noticia-1{
    background-color: black;
    color: whitesmoke;
}
.noticia-2{
    background-color: gold;
    color: black;
}

.titulo-seccion-noticias{
    text-align: center;
    width: 100%;
    background-color: rgb(100, 14, 14);;
    padding: 3px 0px;
    border-bottom: solid 2px gold;
    margin: 0;
    color: floralwhite;
}

.noticias-secundarias div{
    background-color: whitesmoke;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.noticias-secundarias p{
    margin: 0;
    justify-content: center;
}

#subir-a-inicio{
    border: solid 2px black;
    margin: 1px;
    width: 30px;
}

@media only screen and (min-width:700px) {

.main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: double 10px whitesmoke;
    }
    .noticia-1, .noticia-2{
        border-bottom: 0;
    }
    .noticia-1{
        width: 55%;
        border-right: solid 5px whitesmoke;
    }
 
    .noticia-2{
        width: 40%;
        border-left: solid 5px whitesmoke;
    }
 

.main figure {
        display: contents;
    }
 
    .noticias-secundarias{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        border-top: solid 3.5px black;
    }
 
    .noticias-secundarias div{
        width: 24%;
        background-color:black;
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
    }
 
    .noticias-secundarias h3{
        height: 60px;
        border-bottom: solid 5px gold;
        background-color: whitesmoke;
        margin: 0;
        padding: 20px;
        overflow: hidden;
        font-size: 1.2em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
 
    .noticias-secundarias p{
        color: whitesmoke;
        border-top: solid 2px whitesmoke;
        min-height: 60px;
        overflow: hidden;
    }
 
    .noticias-secundarias figure{
        display: contents;
    }
}