.container {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    background-color: blue;
}

.container p {
    font-size: 1.1875rem;
    padding: 0.625rem 0.3125rem 0.3125rem;
    height: 0.625rem;
}

.container figure {
    display: contents;
}

.main div,
.noticias-secundarias div {
    display: flex;
    flex-direction: column;
    padding: 0.1875rem 0 0.125rem;
    margin: 0.1875rem 0 0 0.125rem;
}

.container h2,
.container h3 {
    padding-left: 0.9375rem;
}

.noticia-1,
.noticia-2 {
    border-bottom: solid 3px red;
}

.noticia-1 {
    background-color: orange;
    color: cyan;
}

.noticia-2 {
    background-color: purple;
    color: black;
    text-align: center;
}

.titulo-seccion-noticias {
    text-align: center;
    width: 90%;
    height: 0.625rem;
    background-color: rgb(100, 14, 14);
    //background-color: rgb(100, 104, 24);
    padding: 0.1875rem 0px;
    border-bottom: solid 0.125rem cyan;
    margin: 0.0625rem;
    color: pink;
}

.noticias-secundarias div {
    background-color: whitesmoke;
    border-top: solid 1.25rem red;
    border-bottom: solid 1.3125rem blue;
}

.noticias-secundarias p {
    margin: 0;
    justify-content: center;
}

// prueba
#subir-a-inicio {
    border: solid 0.125rem black;
    margin: 0.0625rem;
    width: 1.875rem;
}

// responsive
@media only screen and (min-width: 43.75rem) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: double 15px whitesmoke;
    }
    .noticia-1,
    .noticia-2 {
        border-bottom: 2px;
    }
    .noticia-1 {
        width: 50%;
        border-right: solid 0.3125rem blue;
    }
    .noticia-2 {
        width: 41%;
        border-left: solid 0.3125rem cyan;
    }
    .main figure {
        display: contents;
    }
    .noticias-secundarias {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        border-top: solid 0.2188rem cyan;
    }
    .noticias-secundarias div {
        width: 20%;
        height: 0.625rem;
        background-color: black;
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
    }
    .noticias-secundarias h3 {
        height: 3.75rem;
        border-bottom: solid 5px gold;
        background-color: whitesmoke;
        margin: 0;
        padding: 1.25rem;
        overflow: hidden;
        font-size: 1.2em;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    .noticias-secundarias p {
        color: whitesmoke;
        font-size: 1.2em;
        border-top: solid 0.125rem whitesmoke;
        min-height: 3.625rem;
        overflow: hidden;
    }
    .noticias-secundarias figure {
        display: contents;
    }
}