.container {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: black;
}

.container p {
    font-size: 1rem;
    padding: 0.625rem 0.3125rem;
}

.container figure {
    display: contents;
}

.main div,
.noticias-secundarias div {
    display: flex;
    flex-direction: column;
    padding: 0.1875rem 0;
    margin: 0.1875rem 0 0 0;
}

.container h2,
.container h3 {
    padding-left: 0.3125rem;
}

.noticia-1,
.noticia-2 {
    border-bottom: solid 3px whitesmoke;
}

.noticia-1 {
    background-color: black;
    color: whitesmoke;
}

.noticia-2 {
    background-color: gold;
    color: black;
}

.titulo-seccion-noticias {
    text-align: center;
    width: 100%;
    background-color: rgb(100, 14, 14);
    ;
    padding: 0.1875rem 0px;
    border-bottom: solid 0.125rem gold;
    margin: 0;
    color: floralwhite;
}

.noticias-secundarias div {
    background-color: whitesmoke;
    border-top: solid 0.125rem black;
    border-bottom: solid 0.125rem black;
}

.noticias-secundarias p {
    margin: 0;
    justify-content: center;
}

#subir-a-inicio {
    border: solid 0.125rem black;
    margin: 0.0625rem;
    width: 1.875rem;
}

@media only screen and (min-width:43.75rem) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: double 0.625rem whitesmoke;
    }
    .noticia-1,
    .noticia-2 {
        border-bottom: 0;
    }
    .noticia-1 {
        width: 55%;
        border-right: solid 5px whitesmoke;
    }
    .noticia-2 {
        width: 40%;
        border-left: solid 5px whitesmoke;
    }
    .main figure {
        display: contents;
    }
    .noticias-secundarias {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        border-top: solid 0.2188rem black;
    }
    .noticias-secundarias div {
        width: 24%;
        background-color: black;
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
    }
    .noticias-secundarias h3 {
        height: 60px;
        border-bottom: solid 0.3125rem gold;
        background-color: whitesmoke;
        margin: 0;
        padding: 1.25rem;
        overflow: hidden;
        font-size: 1.2em;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }
    .noticias-secundarias p {
        color: whitesmoke;
        border-top: solid 0.125rem whitesmoke;
        min-height: 60px;
        overflow: hidden;
    }
    .noticias-secundarias figure {
        display: contents;
    }
}