.lista-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.lista-ranking ol {
    display: flex;
    flex-direction: column;
    font-size: 1.5625rem;
    padding-inline-start: 0px;
    color: whitesmoke;
    margin: 0px;
    padding-left: 0.625rem;
}

<<<<<<< HEAD
.lista-ranking p{
    color: red;
    font-size: 35px;
    border-bottom: solid 3px red;
=======
.lista-ranking p {
    color: whitesmoke;
    font-size: 2.1875rem;
    border-bottom: solid 3px whitesmoke;
>>>>>>> 936451bcc9bf77b768ad3602b5de20d06efdb885
}

.top10estilo {
    color: rgba(201, 44, 44, 0.733);
    font-weight: bolder;
}

.lista-ranking ol :first-child {
    font-size: 2.1875rem;
}

.lista-ranking li {
    margin: 0.625rem;
}

@media only screen and (min-width:700px) {
    .lista-ranking {
        background-image: url(../images/backgroundRanking.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .lista-ranking ol,
    .lista-ranking p {
        background-color: black;
        padding: 0.625rem 2.1875rem;
        margin: 0;
        border-left: solid 0.1875rem gold;
        border-right: solid 0.1875rem gold;
        width: 18.125rem;
    }
    .lista-ranking p {
        display: flex;
    }
}